<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 页面背景颜色为蓝色 -->
    <style>
        body {
            background-color: #159be9;
        }
    </style>
    <!-- 从网络引入vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 居中css -->
    <style>
        .center-div {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40%;
            border: 3px solid #4a16ac;
            border-radius: 4px;
            box-shadow: 0 0 10px #000000;
        }
    </style>
</head>

<body>
    <!-- 居中容器 -->
    <div id="login" class="center-div">
        <!-- 居中两个输入框 -->
        <el-input v-model="username" placeholder="请输入用户名" style="width: 300px; margin-bottom: 20px;"></el-input>
        <el-input v-model="password" placeholder="请输入密码" style="width: 300px; margin-bottom: 20px;"></el-input>
        <el-button @click="visible = true">登录</el-button>

    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    username: '',
                    password: '',
                    show: false
                }
            },
            methods: {
                login() {
                    if (this.username === 'admin' && this.password === '123') {
                        alert('登录成功');
                    } else {
                        this.show = true;
                    }
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>